.col-md-6	
	%header
		%h1 POP-O-MATIC

	%main
		%h3 Mijn Persoonlijke Ontwikkelings Plan voor ...

		%h3 Competenties

		=link_to "Nieuwe competentie toevoegen", new_competency_path, class: "btn btn-success"