.col-md-6	
	%header
		%h1 POP-O-MATIC

	%main
		%h3 Mijn Persoonlijke Ontwikkelings Plan voor ...

		%h3 Competentiematrix

		%table.table
			%tr
				%th Competenties
				%th Aantal EC's
				%th Niveau
			-@competencies.each do |competency|
				%tr
					%td=competency.competency
					%td=competency.european_credit
					%td=competency.level
					%td=link_to "Leerdoelen, activiteiten en resultaten", competency_path(competency), class: "btn btn-primary"
					%td=link_to "Bewerken", edit_competency_path(competency), class: "btn btn-warning"
					%td=link_to "Verwijderen", competency_path(competency), method: :delete, data: {confirm: "Weet je het zeker?"}, class: "btn btn-danger"

		=link_to "Nieuwe competentie toevoegen", new_competency_path, class: "btn btn-success"